body{
  margin:0;
  padding:70px;
  
  display: flex;
  justify-content: center;/* horizontal allignment */
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}
#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 1%, 14%);
  max-width:500px;
  border-radius: 15px;
  overflow: hidden;
  
}
#display{
  
  width: 100%;
  padding:20px;
  font-size: 5rem;
  text-align: left;
  border:none;
  color:white;
  background-color: hsl(0, 1%, 24%);
}
button{
  height:100px;
  width:100px;
  border-radius: 50%;
  border:none;
  background-color: hsl(0, 2%, 20%);
  color:whitesmoke;
  font-weight: bold;
  font-size: 3em;
  cursor:pointer;
}
#keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:10px;
  padding:25px;
  padding-left: 50px;
}
button:hover{
  background-color: hsl(0, 0%, 50%);
}
button:active{
  background-color: hsl(0, 0%, 70%);
}
.operator{
  background-color: hsl(39, 100%, 50%);
}
.operator:hover{
  background-color: hsl(39, 79%, 70%);
}
.operator:active{
  background-color: hsl(39, 79%, 90%);
}
